body{
    background-image: url();
    background-size: 500px;
}
video {
    position: fixed;
    right: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translate(calc((100% - 100vw) / 2));
    z-index: -2;
  }
.titulo1{
    background-color: rgb(2, 2, 15);
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Rochester', cursive;
}
.titulo2{
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    color: white;
}
.titulo3{
    font-family: 'Anton', sans-serif;
    font-size: 1rem; 
    color: white;
}